# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
/tmp
/temp
*.tmp

# Build output (if applicable)
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db

# Uploads
uploads/*
!.gitkeep

# IDE settings
.vscode/
.idea/

# Database files (Prisma or others)
prisma/dev.db
prisma/.env
